<div class="page-header">
  <% if @customer and @customer.persisted? %>
  <%= link_to new_customer_project_path(@customer), :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Project
  <% end %>
  <% end %>
  <h1>Listing projects</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @projects.each do |project| %>
    <tr>
      <td><%= project.customer %></td>
      <td><%= project.name %></td>
      <td><%= link_to 'Show', [project.customer,project] %></td>
      <td><%= link_to 'Edit', edit_customer_project_path(project.customer,project) %></td>
      <td><%= link_to 'Destroy', [project.customer,project], confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
