<% if user_signed_in? %>
<ul class="nav nav-list">
  <li class="nav-header">Customers</li>
  <li class="active"><%= link_to "View Customers", customers_path %></li>
  <li><%= link_to "Add Customer", new_customer_path %></li>
  <li class="nav-header">Projects</li>
  <li><%= link_to "View Projects", projects_path %></li>
  <% if @customer and @customer.persisted? %>
  <li><%= link_to "Add Project", new_customer_project_path(@customer) %></li>
  <% end %>
  <li class="nav-header">Tasks</li>
  <li><%= link_to "View Tasks", tasks_path %></li>
  <% if @project and @project.persisted? %>
  <li><%= link_to "Add Task for Projects", new_project_task_path(@project) %></li>
  <% end %>
</ul>
<% end %>